// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// Tamanos de Media Query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;